h2.text-5xl.mt-8.mb-32.font-semibold.text-center About

.flex.flex-wrap.max-w-lg.mx-auto
  .mb-4.mx-auto.text-right.px-8(class="w-1/2")
    img.rounded-lg.shadow-lg(
      alt="Steve Wallin"
      src="/img/steve-wallin.jpg"
      width="180"
    )
  .mb-4.mx-auto.text-left(class="w-1/2")
    h3.text-2xl.font-semibold= company.owner.name

    p.my-4.leading-normal Custom Homes of Asheville, Inc. is the culmination of years of experience for Steve Wallin. Steve's Grandfather was a carpenter and wood worker, and he passed along this love of construction to Steve.

    //- p.my-4.leading-normal After finishing College, Steve was a math and science teacher for seven years.  After leaving the teaching profession, Steve owned and operated a local sawmill for a couple of years before entering the world of materials and purchasing management for 10 years; working for two Fortune 500 companies.

    //- p.my-4.leading-normal All along, though, Steve was well aware of his love for construction and woodworking.  Steve eventually obtained General Contractor’s license and began building homes in 2001.  By 2004, Steve built up enough courage to “quit his day job” and move into new home construction full time.  Steve was awarded Builder of the Year by the Asheville Home Builders Association in 2012, and served as the President of the Asheville Home Builders Association in 2013. Steve’s experience specifically includes traditional, log and timber frame homes.
