extends /layouts/html

block styles
  link(
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/tailwindcss/dist/tailwind.min.css"
  )
  style.
    body {
      color: white;
      background: rgb(24, 46, 82);
    }
    a {
      color: white;
    }
    a:hover {
      text-decoration: underline;
    }

block body
  block header
    include /layouts/_header
  main
    block main
      | !{ content }
  block footer
    include /layouts/_footer
