extends /layouts/html

block styles
  link(
    rel="stylesheet"
    href="https://fonts.googleapis.com/css?family=Lato:300,400,700,900"
  )
  link(rel="stylesheet" href="/styles.css")

block body
  block header
    include /layouts/_header
  main
    block main
      | !{ content }
  block footer
    include /layouts/_footer
